importations du fichier csv dans pandas

In [1]:
import pandas as pd
import re 
import numpy as np

df = pd.read_csv("referentiel.csv", sep=",",  encoding="utf-8")
df.head()

,job,skill_block,skill
0,Data Analyst,Data Analysis,I perform data cleaning using Python libraries...
1,Data Analyst,Data Analysis,I create visualizations using Matplotlib and S...
2,Data Analyst,Data Analysis,I conduct descriptive statistical analysis wit...
3,Data Analyst,Reporting,I build dynamic dashboards with Power BI or Ta...
4,Data Analyst,SQL,I query SQL databases to extract the informati...

Aficher les information sur les colonnes

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   job          50 non-null     object
 1   skill_block  50 non-null     object
 2   skill        50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

prétraitement du text

In [3]:
import pandas as pd
import re

def clean_text(text):
    text = text.lower()                     # tout en minuscule
    text = re.sub(r'\s+', ' ', text)        # retirer les espaces multiples
    text = text.strip()                     # retirer espaces début/fin
    return text

df["skill"] = df["skill"].apply(clean_text)

df.head()

,job,skill_block,skill
0,Data Analyst,Data Analysis,i perform data cleaning using python libraries...
1,Data Analyst,Data Analysis,i create visualizations using matplotlib and s...
2,Data Analyst,Data Analysis,i conduct descriptive statistical analysis wit...
3,Data Analyst,Reporting,i build dynamic dashboards with power bi or ta...
4,Data Analyst,SQL,i query sql databases to extract the informati...

importé SBERT

In [ ]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("all-MiniLM-L6-v2")

Transformer du texte → vecteur numérique (embedding)

In [ ]:
df["embedding"] = df["skill"].apply(lambda x: model.encode(x))
df.head()

Sauvegarder ton référentiel vectorisé

In [7]:
df.to_pickle("referentiel_embeddings.pkl")